.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 40px;
    font-family: "Noto Sans", "Noto Sans JP", "Noto Color Emoji", sans-serif;

    &>.pageTitle {
        font-size: clamp(16px, 4.2vw, 32px);
        font-weight: 700;
    }

    &>.logo {
        width: 70%;
        max-width: 500px;
        display: block;
    }

    &>.description {
        display: inline;
        font-size: clamp(16px, 3vw, 24px);
        text-align: center;
    }

}